.button-container {
  position: relative;
  border-top: 1px solid #f2f2f2;
  height: 55px; }
  .button-container .buttons {
    text-align: center;
    text-transform: uppercase;
    color: #666;
    position: absolute;
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .button-container .buttons.large {
      background: #449662;
      z-index: 1;
      width: 100%; }
    .button-container .buttons.small {
      position: absolute;
      top: 0; }
    .button-container .buttons.small a {
      display: inline-block;
      width: 50%;
      padding: 20px 0; }
  .button-container a {
    color: #FFF;
    background: #ef5d5d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    padding: 20px;
    text-decoration: none;
    cursor: pointer; }
    .button-container a#cancel {
      background-color: #666;
      border-right: 1px solid #f2f2f2;
      border-bottom-right-radius: 0px;
      color: #c1c1c1;
      text-transform: capitalize; }
    .button-container a#send {
      background-color: #449662;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 0px;
      color: #FFF; }
    .button-container a#cancel:hover {
      background: #ef5d5d;
      color: #000;
      border-bottom-left-radius: 5px; }
    .button-container a#send:hover {
      border-bottom-right-radius: 5px;
      background: #f0fff9; }
    .button-container a:hover {
      outline: none;
      background-position: 0 0; }
    .button-container a#cancel:focus {
      outline: none; }

.form {
  position: relative;
  z-index: -1; }
  .form label {
    position: relative;
    top: 20px;
    transition: all .3s;
    color: #c1c1c1; }
    .form label.active {
      top: 5px;
      font-size: 12px; }
      .form label.active.blue {
        color: #2a75c3; }

.info {
  background: #FFF;
  padding: 20px 30px; }

input,
textarea {
  margin: 5px 0;
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  color: #666; }
  input:focus,
  textarea:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #2a75c3;
    color: #313f47; }

textarea {
  font-size: 1rem;
  line-height: 1rem;
  height: 90px; }

.card {
  width: 300px;
  background: #FFF;
  border-radius: 5px;
  position: relative;
  margin: 50px auto 0 auto;
  box-shadow: 3px 7px 10px #666; }
  .card .top {
    height: 200px;
    background: #2a75c3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    overflow: hidden;
    transition: 0.6s; }
  .card .avatar {
    background: #FFF url("../img/headshot-jason.jpg") no-repeat 80% 24%;
    background-size: 110%;
    border: 5px solid #FFF;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 25px auto;
    transition: 0.6s;
    position: absolute;
    left: 80px;
    transition-delay: 0.6s; }
    .card .avatar.small {
      height: 50px;
      width: 50px;
      border: 2px solid #FFF;
      margin: 0;
      left: 20px;
      display: inline-block;
      transition-delay: 0s; }
  .card .bottom {
    display: block;
    padding: 0;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 100% 213.5px;
    perspective: 1000px; }
    .card .bottom .flipper.flipped {
      transform: rotateX(180deg); }
  .card .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
    background: #FFF; }
  .card .flip {
    width: 100%;
    position: absolute;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0; }
  .card .front {
    background: #FFF;
    top: 0;
    left: 0;
    z-index: 2;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    min-height: 285px; }
  .card .back {
    transform: rotateX(180deg);
    backface-visibility: hidden;
    min-height: 120px;
    background: #FFF;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    padding: 0; }
  .card .icon p:before {
    content: "";
    background: url("../img/mail.svg") no-repeat center;
    background-size: 80%;
    display: block;
    width: 100px;
    height: 65px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 12px; }

.small-name {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  color: #FFF;
  display: inline-block;
  top: 25px;
  left: 80px;
  transition: 0.6s;
  white-space: nowrap;
  width: 0; }
  .small-name h2 {
    display: inline; }
  .small-name.small {
    width: 200px;
    opacity: 1;
    transition-delay: 0.6s; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1,
p {
  padding: 0;
  margin: 0;
  font-family: "Courier New"; }

body {
  background: #5397c7; }

.hide {
  opacity: 0;
  height: 0 !important;
  padding: 0 !important; }

/*# sourceMappingURL=contactStyle.css.map */
