.button-container {
  position: relative;
  border-top: 1px solid #f2f2f2;
  height: 55px; }
  .button-container .buttons {
    text-align: center;
    text-transform: uppercase;
    color: #666;
    position: absolute;
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .button-container .buttons.large {
      background: #449662;
      z-index: 1;
      width: 100%; }
    .button-container .buttons.small {
      position: absolute;
      top: 0; }
    .button-container .buttons.small a {
      display: inline-block;
      width: 50%;
      padding: 20px 0; }
  .button-container a {
    color: #FFF;
    background: #ef5d5d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    padding: 20px;
    text-decoration: none;
    cursor: pointer; }
    .button-container a#cancel {
      background-color: #666;
      border-right: 1px solid #f2f2f2;
      border-bottom-right-radius: 0px;
      color: #c1c1c1;
      text-transform: capitalize; }
    .button-container a#send {
      background-color: #449662;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 0px;
      color: #FFF; }
    .button-container a#cancel:hover {
      background: #ef5d5d;
      color: #000;
      border-bottom-left-radius: 5px; }
    .button-container a#send:hover {
      border-bottom-right-radius: 5px;
      background: #f0fff9; }
    .button-container a:hover {
      outline: none;
      background-position: 0 0; }
    .button-container a#cancel:focus {
      outline: none; }

.form {
  position: relative;
  z-index: -1; }
  .form label {
    position: relative;
    top: 20px;
    transition: all .3s;
    color: #c1c1c1; }
    .form label.active {
      top: 5px;
      font-size: 12px; }
      .form label.active.blue {
        color: #2a75c3; }

.info {
  background: #FFF;
  padding: 20px 30px; }

input,
textarea {
  margin: 5px 0;
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  color: #666; }
  input:focus,
  textarea:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #2a75c3;
    color: #313f47; }

textarea {
  font-size: 1rem;
  line-height: 1rem;
  height: 90px; }

.card {
  width: 300px;
  background: #FFF;
  border-radius: 5px;
  position: relative;
  margin: 50px auto 0 auto;
  box-shadow: 3px 7px 10px #666; }
  .card .top {
    height: 200px;
    background: #2a75c3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    overflow: hidden;
    transition: 0.6s; }
  .card .avatar {
    background: #FFF url("../img/headshot-jason.jpg") no-repeat 80% 24%;
    background-size: 110%;
    border: 5px solid #FFF;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 25px auto;
    transition: 0.6s;
    position: absolute;
    left: 80px;
    transition-delay: 0.6s; }
    .card .avatar.small {
      height: 50px;
      width: 50px;
      border: 2px solid #FFF;
      margin: 0;
      left: 20px;
      display: inline-block;
      transition-delay: 0s; }
  .card .bottom {
    display: block;
    padding: 0;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 100% 213.5px;
    perspective: 1000px; }
    .card .bottom .flipper.flipped {
      transform: rotateX(180deg); }
  .card .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
    background: #FFF; }
  .card .flip {
    width: 100%;
    position: absolute;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0; }
  .card .front {
    background: #FFF;
    top: 0;
    left: 0;
    z-index: 2;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    min-height: 285px; }
  .card .back {
    transform: rotateX(180deg);
    backface-visibility: hidden;
    min-height: 120px;
    background: #FFF;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    padding: 0; }
  .card .icon p:before {
    content: "";
    background: url("../img/mail.svg") no-repeat center;
    background-size: 80%;
    display: block;
    width: 100px;
    height: 65px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 12px; }

.small-name {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  color: #FFF;
  display: inline-block;
  top: 25px;
  left: 80px;
  transition: 0.6s;
  white-space: nowrap;
  width: 0; }
  .small-name h2 {
    display: inline; }
  .small-name.small {
    width: 200px;
    opacity: 1;
    transition-delay: 0.6s; }

.header {
  height: 80px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: 1; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  .header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }

.nav-trigger {
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 18px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent; }
  .nav-trigger span {
    /* hamburger icon in CSS */
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #FFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* this is the central line */
    top: 21px;
    left: 8px;
    -webkit-transition: background 0.2s 0.5s;
    -moz-transition: background 0.2s 0.5s;
    transition: background 0.2s 0.5s; }
    .nav-trigger span::before, .nav-trigger span::after {
      /* hamburger icon in CSS */
      position: absolute;
      width: 28px;
      height: 3px;
      background-color: #FFF;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .nav-trigger span::before, .nav-trigger span:after {
      /* these are the upper and lower lines */
      content: '';
      left: 0;
      -webkit-transition: -webkit-transform 0.2s 0.5s;
      -moz-transition: -moz-transform 0.2s 0.5s;
      transition: transform 0.2s 0.5s; }
    .nav-trigger span::before {
      bottom: 8px; }
    .nav-trigger span::after {
      top: 8px; }

.nav-is-visible .nav-trigger span {
  /* hide line in the center */
  background-color: rgba(255, 255, 255, 0); }
  .nav-is-visible .nav-trigger span::before, .nav-is-visible .nav-trigger span::after {
    /* keep visible other 2 lines */
    background-color: #FFF; }
  .nav-is-visible .nav-trigger span::before {
    -webkit-transform: translateY(8px) rotate(-45deg);
    -moz-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    -o-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg); }
  .nav-is-visible .nav-trigger span::after {
    -webkit-transform: translateY(-8px) rotate(45deg);
    -moz-transform: translateY(-8px) rotate(45deg);
    -ms-transform: translateY(-8px) rotate(45deg);
    -o-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg); }

.nav-container {
  /* this is the 3D navigation container */
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #000;
  visibility: hidden;
  /* enable a.space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s; }
  .nav-container.nav-is-visible {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s; }

.nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background-color: #7A8B99;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }
  .nav::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    transition: opacity 0.5s 0s, visibility 0.5s 0s; }
  .nav li {
    height: 100%;
    width: 16%;
    float: left; }
    .nav li:first-of-type a::before {
      background-image: url(../img/home.svg); }
    .nav li:nth-of-type(2) a::before {
      background-image: url(../img/file.svg); }
    .nav li:nth-of-type(3) a::before {
      background-image: url(../img/email-envelope.svg); }
    .nav li:nth-of-type(4) a::before {
      background-image: url(../img/github-logo.svg); }
    .nav li:nth-of-type(5) a::before {
      background-image: url(../img/linkedin-logo.svg); }
    .nav li:nth-of-type(6) a::before {
      background-image: url(../img/user.svg); }
  .nav a {
    position: relative;
    display: block;
    height: 100%;
    color: transparent;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .nav a::before {
      /* navigation icons */
      content: '';
      height: 67px;
      width: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: 32px 64px;
      background-repeat: no-repeat;
      background-position: 0 0; }

.no-touch .nav a:hover {
  background-color: #003249; }

.nav .selected a {
  background-color: #7A8B99; }

.no-touch .nav .selected a:hover {
  background-color: #003249; }

.nav .selected a::before {
  background-position: 0; }

.nav-is-visible .nav {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
  .nav-is-visible .nav::after {
    /* menu cover layer - hide it when navigation is visible */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
    transition: opacity 0.5s 0s, visibility 0s 0.5s; }

.marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 16%;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s; }
  .marker::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit; }

.nav-is-visible .marker {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

/* these are the colors of the markers - line + arrow */
.color {
  color: #CCDBDC;
  background-color: #CCDBDC; }

.wrapper {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .wrapper h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: #FFF;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wrapper.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }

@media only screen and (min-width: 768px) {
  .nav-container {
    height: 170px; } }
@media only screen and (min-width: 768px) {
  .nav a {
    padding: 7.6em 1em 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* truncate text with ellipsis if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .nav a::before {
      top: 3.4em;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); } }
@media only screen and (min-width: 768px) {
  .wrapper.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px); }
  .wrapper h1 {
    font-size: 3.6rem;
    margin: 4em auto; } }
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1,
p {
  padding: 0;
  margin: 0;
  font-family: "Courier New"; }

body {
  background: #5397c7; }

.hide {
  opacity: 0;
  height: 0 !important;
  padding: 0 !important; }

/*# sourceMappingURL=contactStyle.css.map */
