*,
*::after,
*::before {
  box-sizing: border-box; }

*::after,
*::before {
  content: ''; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans";
  color: #c6e2ff;
  background-color: #0096a7; }

a {
  text-decoration: none; }

/* -------------------------------- 
Headline components
-------------------------------- */
.title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center; }
  .title h1 {
    font-size: 2.4rem;
    font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .title {
      line-height: 250px; } }
  @media only screen and (min-width: 1170px) {
    .title {
      height: 200px;
      line-height: 300px; }
      .title h1 {
        font-size: 3rem; } }

.intro {
  width: 90%;
  max-width: 768px;
  text-align: center; }

.intro {
  margin: 4em auto; }
  @media only screen and (min-width: 768px) {
    .intro {
      margin: 2em auto; } }
  @media only screen and (min-width: 1170px) {
    .intro {
      margin: 6em auto; } }

.headline {
  font-size: 3rem;
  line-height: 1.2; }
  @media only screen and (min-width: 768px) {
    .headline {
      font-size: 3.4rem;
      font-weight: 300; } }
  @media only screen and (min-width: 1170px) {
    .headline {
      font-size: 6rem; } }

.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0; }
    .words-wrapper b.is-visible {
      position: relative; }
  .no-js .words-wrapper b {
    opacity: 0; }
    .no-js .words-wrapper b.is-visible {
      opacity: 1; }

/* -------------------------------- 
Index typing headline
-------------------------------- */
.headline.type .words-wrapper {
  vertical-align: top;
  overflow: hidden; }
  .headline.type .words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #c6e2ff; }
  .headline.type .words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite; }
  .headline.type .words-wrapper.selected {
    background-color: #c6e2ff; }
    .headline.type .words-wrapper.selected::after {
      visibility: hidden; }
    .headline.type .words-wrapper.selected b {
      color: #add8e6; }
.headline.type b {
  visibility: hidden; }
  .headline.type b.is-visible {
    visibility: visible; }
.headline.type i {
  position: absolute;
  visibility: hidden; }
  .headline.type i.in {
    position: relative;
    visibility: visible; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0; } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0; } }
@keyframes pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0; } }
/* -------------------------------- 
Bubble Window
-------------------------------- */
.bubble {
  width: 60%;
  max-width: 600px;
  margin: 12rem auto;
  background: #ffffff;
  border-radius: 02rem;
  padding: 1rem;
  color: #666; }
  @media only screen and (min-width: 1170px) {
    .bubble {
      width: 600px; } }

.name {
  font-family: "Oswald", "Arial";
  font-size: 2.3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  margin: 1.5rem auto; }
  @media only screen and (min-width: 768px) {
    .name {
      font-size: 3.4rem;
      font-weight: 300; } }
  @media only screen and (min-width: 1170px) {
    .name {
      font-size: 5rem; } }

.info {
  font-family: "Roboto Condensed", "Arial";
  font-size: 1.08rem;
  margin-bottom: 1.8rem; }

.circle {
  display: block;
  position: relative;
  width: 14rem;
  height: 14rem;
  margin: -5rem auto 0 auto;
  text-align: center;
  overflow: hidden;
  perspective: 1200px; }
  .circle:hover #circle-flip {
    transform: rotateY(180deg); }

@keyframes flip {
  10% {
    transform: rotateY(180deg); }
  90% {
    transform: rotateY(180deg); } }
#circle-flip {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 500ms;
  animation: flip 3s;
  animation-delay: 0.5s; }

.avatar,
.back,
.bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden; }

.circle .avatar {
  background: url("../img/headshot-jason.jpg") 60% 27% #485274;
  background-size: 100%;
  border: 5px solid #ffffff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute; }
.circle .back {
  background: url("../img/mail.svg") no-repeat #f2f2f2;
  background-size: 60%;
  background-position: 40% 20%;
  color: #666;
  line-height: 11rem;
  font-family: "Roboto Condensed", "Arial";
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08rem;
  border-radius: 50%;
  transform: rotateY(180deg);
  padding-top: 30%; }

/*# sourceMappingURL=headlineStyle.css.map */
