// Primary style elements
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
    h1 {
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
    margin: 4em auto;
}

.headline {
    font-size: 3rem;
    line-height: 1.2;
}

.words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.words-wrapper b.is-visible {
    position: relative;
}

.no-js .words-wrapper b {
    opacity: 0;
}

.no-js .words-wrapper b.is-visible {
    opacity: 1;
}