// Box sizing & resets
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
p {
    padding: 0;
    margin: 0;
    font-family: $fonts-default;
}

body {
    background: $lightgray;
}

// show/hide class
.hide {
    opacity: 0;
    height: 0 !important;
    padding: 0 !important;
}