@media only screen and (min-width: 768px) {
    .title {
        line-height: 250px;
    }
}

@media only screen and (min-width: 1170px) {
    .title {
        height: 200px;
        line-height: 300px;
        h1 {
            font-size: 3rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        margin: 5em auto;
    }
}

@media only screen and (min-width: 1170px) {
    .intro {
        margin: 6em auto;
    }
}

@media only screen and (min-width: 768px) {
    .headline {
        font-size: 4.4rem;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1170px) {
    .headline {
        font-size: 6rem;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        height: 400px;
        margin-top: 70px;
        h1 {
            font-size: 30px;
            font-size: 1.875rem;
        }
    }
}

@media only screen and (min-width: 1170px) {
    .intro {
        position: fixed;
        /* do not overlap the header */
        top: 70px;
        left: 0;
        width: 100%;
        height: 500px;
        margin-top: 0;
        .intro-background {
            transform-origin: 50% 100%;
        }
        h1 {
            font-size: 32px;
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .header.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}